.App {
  text-align: center;
  background-color: lavender;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  align-items: center;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-Navigation {
  font-size: large;
  background-color: lightsalmon;

}

.loginForm{
  padding: 50px;
  margin: 0 auto;
  height: 500px;
  width: 500px;
  background-color: lavender;
}

.loginFormHeader{
  color: brown;
}

.todoHeader{
  font-size: 30px;
}

.renderTodoList{
  margin: 0, auto;
  padding: 10px;
}

.centerAll{
  text-align: center;
}

.addEmployeeForm{
  margin: 0px 10px 10px 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.difference{

  height: 50px;
}

.difference2{
  height: 25px;
}

.employeeList{
  font-size: medium;
}

.AttendanceList{
  font-size: medium;
}

.LeaveList{
  font-size: medium;
}
.Btn-Width{
  margin: 0, auto;
  padding: 50px;
}